.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 272px;
  width: 100%;
  align-content: space-between;
  cursor: pointer;
  position: relative;
}

.cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9px;
  align-items: center;
}
