.card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 272px;
  width: 100%;
  height: 208px;
  align-content: space-between;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #f2f2f3;
}

.cost {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 9px;
}

.name {
  height: 48px;
 }