.list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  max-height: 600px;
  list-style-type: none;
  max-width: 592px;
  overflow-y: scroll;
  overflow-x: hidden;
}